{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h2>{% blocktrans %}Posts in Dataset {{dataset}}{% endblocktrans %}</h2>
  <hr/>
  <p>
  <a href="{{ dataset.file.url }}" class="btn btn-success">{% blocktrans %}Download Original (CSV){% endblocktrans %}</a>
  <a href='{% url "datasets:export-posts" dataset.pk %}' class="btn btn-success">{% blocktrans %}Export Posts (CSV){% endblocktrans %}</a>
  <a href="{% url "datasets:export-annotations" dataset.pk %}" class="btn btn-success">{% blocktrans %}Export Annotations (JSON){% endblocktrans %}</a>
  </p>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans "Status" %}</th>
      <th scope="col">{% blocktrans %}Reddit ID{% endblocktrans %}</th>
      <th scope="col">{% trans "Title" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <th scope="row">{{ object.pk }}</th>
      <td>{% if object.pk in my_annotations %}✅{% endif %}</td>
      <td>{{ object.data.id }}</td>
      <td><a href="{{ object.get_absolute_url }}">{{ object.data.title }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
