{% extends "base.html" %}
{% load annotations %}
{% block content %}
  <h2>Posts in Dataset {{dataset}}</h2>
  <hr/>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reddit ID</th>
      {% for user in dataset.project.members.all %}
        <th scope="col">{{ user.username }}</th>
      {% endfor %}
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <th scope="row">{{ object.pk }}</th>
      <td>{{ object.data.id }}</td>
      <td>YES</td>
      <td><a href="{{ object.get_absolute_url }}">{{ object.data.title }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
