{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>
</div>
<!-- End Action buttons -->
{% endif %}
<hr/>
<div class="row">
  <div class="col-sm-12">
    <h2>Teams and Projects</h2>
    {% if request.user.teams %}
    <ul>
      {% for team in request.user.teams.all %}
        <li>
          <a href="{{ team.get_absolute_url }}">{{ team.name }}</a>
          {% if team.projects %}
            <ul>
              {% for project in team.projects.all %}
                {% if request.user in project.members.all %}
                <li><a href="{{ project.get_absolute_url }}">Project: {{ project.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>

</div>
{% endblock content %}
